@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #5e636e;
}

.head{
    display: flex;
    justify-content: center;
}
.head h1{
    color: white;
    font-size: 3rem;
    margin-top: 1.75rem;
}
header{
    display: flex;
    justify-content: space-between;
}
.headerdiv{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: white;
}
@media (min-width: 1280px) {
    .headerdiv {
        width: 60%;
    }
}

@media (min-width: 640px) {
    .headerdiv {
        width: 90%;
    }
}

@media (min-width: 1280px) {
    .headerdiv {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
@media (min-width: 640px) {
    .headerdiv {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
@media (min-width: 1024px) {
    .headerdiv {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}