@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #5e636e;
}

.nav-menu-moblie{
    display: none;
}
.navbar{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}


.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-left: 1.5rem;

}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}
.contact-us-optn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 1rem;
    padding: 2rem;
}
.contact-us-optn a{
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
}
.contact-us-optn:hover{
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
}
.contact-us-optn a:hover{
    color: white;
}



@media(max-width:1400px){
    .nav-menu ul{
        gap: 1.5rem;
        margin-left: 1.5rem;
    }
    .nav-menu a{
        font-size: 1.5rem;
    }
}


@media(min-width:768px){
    .nav-menu{
        display: flex;
    }
    
}





@media(max-width:768px){
    .navbar{
        border: 0;
    }
    .nav-menu-moblie{
        position: absolute;
        width: 40px;
        display: flex;
        left: 1rem;
        flex-direction: column;
        gap: 5px;
        top: 150px;
        cursor: pointer;
        justify-content: space-around;
        align-items: center;
        transition: 0.4s ease;
        z-index: 2;
    }
    .active.nav-menu-moblie{
        transform: translateY(-140px);
    }
    .bar1,.bar2,.bar3{
        transition: 0.3s ease;
    }
    .active .bar1 {
        transform: translateY(10px) rotate(45deg);
    }
    .active .bar2 {
        transform: translateX(5px);
        opacity: 0;
    }
    .active .bar3 {
        transform: translateY(-10px) rotate(-45deg);
    }
    
    .nav-menu-moblie div{
        background-color: black;
        height: 5px;
        width: 80%;

    }
    .contact-us-optn{
        position: absolute;
        right: 0;
        top: 110px;
        height: 50px;
    }
    .nav-menu{
        display: none;
    }
    .active.nav-menu{
        display: block;
    }
    .nav-menu ul{
        z-index: 1;
        background-color: white;
        position: absolute;
        left: -15px;
        top: 0;
        flex-direction: column;
        height: max-content;
        gap: 30px;
        width: 200px;
    }
    .nav-menu ul li{
        height: 40px;
        color: grey;
        width: 100%;
        text-align: center;
        vertical-align:middle;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-menu ul li a{
        color: grey;
    }
    
}